<% content_for :title, 'Edit MITRE' %>

<% content_for :sidebar do %>
  <%= render 'issues/sidebar' %>
<% end %>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to current_project.name, main_app.project_path(current_project) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to 'All issues', main_app.project_issues_path(current_project) %>
  </li>
  <li class="breadcrumb-item">
    <%= link_to @issue.title? ? @issue.title : "Issue ##{@issue.id}", main_app.project_issue_path(current_project, @issue) %>
  </li>
  <li class="breadcrumb-item active">
    MITRE ATT&CK
  </li>
</ol>

<div class="content-container">
  <h4 class="header-underline mb-2">Edit MITRE ATT&CK</h4>

  <ul class="nav nav-pills w-100" data-behavior="mitre-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active" data-domain="enterprise"><strong>Enterprise</strong></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-domain="mobile"><strong>Mobile</strong></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" data-domain="ics"><strong>ICS</strong></a>
    </li>
  </ul>

  <%= simple_form_for [:mitre, current_project, @issue], method: :patch do |f| %>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="tactic-select">Tactic</label>
          <select id="tactic-select" class="form-select" data-type="tactic" data-combobox-config="no-combobox"></select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="technique-select">Technique</label>
          <select id="technique-select" class="form-select" data-type="technique" data-combobox-config="no-combobox"></select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="subtechnique-select">Sub-Technique</label>
          <select id="subtechnique-select" class="form-select" data-type="subtechnique" data-combobox-config="no-combobox"></select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="mitre_fields" class="form-label">Result</label>
        <%= text_area_tag :mitre_fields, @issue_fields, rows: 10, class: 'form-control', data: { behavior: 'mitre-output' } %>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <div>
            <span class="form-label me-2">Result Format:</span>
            <div class="form-check form-check-inline">
              <%= radio_button_tag :result_format, 'inline', true, class: 'form-check-input', id: 'result_format_inline' %>
              <label class="form-check-label" for="result_format_inline">Inline</label>
            </div>
            <div class="form-check form-check-inline">
              <%= radio_button_tag :result_format, 'list', false, class: 'form-check-input', id: 'result_format_list' %>
              <label class="form-check-label" for="result_format_list">List</label>
            </div>
          </div>

          <button type="button" class="btn btn-danger" data-behavior="clear">Clear Result</button>

        </div>
      </div>
    </div>
    <div class="form-actions mt-2">
      <%= f.button :submit, nil, class: 'btn btn-primary' %> or
      <%= link_to 'Cancel', main_app.project_issue_path(current_project, @issue), class: 'cancel-link' %>
    </div>
  <% end %>
</div>
